<div class="page" id="<%= @page_title.downcase %>">
	<article>
			<header class="page-header">
				<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
					<h1 class="page-title"><%= @page_title %></h1>
				</div>
			</header>
		<section class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Thank you for your interest in Blissful Moments Photography! My name is Stephanie, and I love capturing the little moments in life – the laughs, the smiles, the hugs – that we hold close but all too often pass us by. I believe it is these moments that tell the stories of our lives and those of the ones we love. I would love to help you capture these moments and tell your story!</p>
				</div>
				<div class="col-md-6">
					<p>A registered nurse by day, a photographer at heart…I provide a comfortable atmosphere, allowing my clients to share those blissful moments with the ones they love. I enjoy working with newborns, children, families, couples, older adults, and pets, and I know how to provide each and every one the special care and attention they deserve. Schedule a custom photo session by contacting me today!</p>
				</div>
			</div>
			<hr>
			<p class="lead text-center">Photography from the Heart. Every picture tells a story. Let me help you tell yours.</p>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<h2>Shoot</h2>
	                <p>I love photographs that show authentic expressions: a laugh, a smile, a tear, or a touch. I work hard to make sure even the shyest person feels comfortable around my camera. I can meld into the background to capture candid moments, or engage with a guest to coax out a smile. Most of all, I take the time to understand your needs and inspirations for your special moments.</p>
				</div>
				<div class="col-md-4">
					<h2>Enhance</h2>
	                <p>Using the latest digital technology and high end professional camera equipment I ensure all my clients receive the best image quality no matter how large or small the shoot. Fully digital production allows for changes and enhancements to achieve outstanding results even in the most difficult of situations - in addition to allowing me to exercise creative control and artistry.</p>
				</div>
				<div class="col-md-4">
					<h2>Connect</h2>
	                <p>I believe every photo tells a story, and I want to help tell yours. I include my clients in the post-production phase of the storytelling process through my private digital proofing area. I also offer means to help you share these stories with loved ones via a variety of different digital printing, storage, and social media services.</p>
				</div>
			</div>
		</section>
	</article>
</div>