<div class="page" id="<%= @page_title.downcase %>">
	<article>
		<header class="page-header blurry-lights">
			<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
				<h1 class="page-title"><%= @page_title %></h1>
			</div>
		</header>
		<section class="container text-center">
			<div class="row">
				<div class="col-md-6">
					<h2>Online Photo Album</h2>
					<%= link_to 'Access', 'http://blissfulmomentsbystephanie.pixieset.com/', class: 'button' %>
				</div>
				<hr class="horizontal-divider">
				<div class="col-md-6 vertical-divider">
					<h2>Make a Payment</h2>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<div class="form-group">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="75NQWA34DVKW6">
						</div>
						<div class="form-group">
							<label for="client-name" class="pull-left"><input type="hidden" name="on0" value="Client Name">Client Name</label>
							<input type="text" name="os0" maxlength="200" placeholder="Enter your name" class="form-control" id="client-name">
						</div>
						<div class="form-group">
							<label for="shoot-date" class="pull-left"><input type="hidden" name="on1" value="Photo Shoot Date">Photo Shoot Date</label>
							<input type="text" name="os1" maxlength="200" placeholder="Enter your shoot date" class="form-control" id="shoot-date">
						</div>
						<div class="form-group">
							<button type="submit" class="button">Pay Now</button>
							<%= link_to 'Get Help', 'https://s3.amazonaws.com/blissfulmoments/document/Blissful+Moments+Photography+-+Submitting+a+Payment.pdf', target: '_blank', class: 'button button-secondary' %>
						</div>
					</form>
				</div>
			</div>
		</section>
	</article>
</div>