<div class="page" id="<%= @page_title.downcase %>">
	<div class="landing">
		<div class="">
			<div class="logo-wrapper">
				<%= link_to root_path, class: 'logo' do %>
					<%= image_tag 'https://s3.amazonaws.com/blissfulmoments/logo/signature-gold-cropped.png', alt: 'Blissful Moments Photography', class: 'signature' %>
					<p class="enter-link h3 text-center">Enter</p>
				<% end %>
			</div>
			<div class="headline-wrapper">
				<h1 class="headline">Photography from the <span>Heart</span></h1>
			</div>
		</div>
	</div>
</div>
