<div class="container" id="home">
	<div class="carousel">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_1.jpg" alt="Featured Image 1">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_2.jpg" alt="Featured Image 2">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_3.jpg" alt="Featured Image 3">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_4.jpg" alt="Featured Image 4">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_5.jpg" alt="Featured Image 5">
	</div>
</div>
