<div class="container" id="home">
	<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_1.jpg" alt="orange tree">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_2.jpg" alt="submerged">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_3.jpg" alt="look-out">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_4.jpg" alt="One World Trade">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured/featured_5.jpg" alt="drizzle">
	</div>
</div>
