<div id="home">
	<div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/featured.jpg" alt="orange tree">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/DSC_1835.jpg" alt="submerged">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/DSC_0140.jpg" alt="look-out">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/DSC_0291.jpg" alt="One World Trade">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/DSC_0536.jpg" alt="drizzle">
		<img class="carousel-cell" src="https://s3.amazonaws.com/blissfulmoments/DSC_0680.jpg" alt="cat nose">
	</div>
</div>
