<div class="page" id="<%= @page_title.downcase %>">
	<!-- Fine Print -->
	<div class="modal fade" id="fine-print-modal" tabindex="-1" role="dialog" aria-labelledby="Fine Print">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title text-center" id="myModalLabel">The Fine Print</h4>
	            </div><!-- /.modal-content -->
	            <div class="modal-body">
	                <ul class="services-list">
	                    <li class="services-list-item text-center">All services include: (1) a consultation with Stephanie prior to your session, (2) your customized session, and (3) Stephanie's time to craft your beautifully edited photos.</li>
	                    <li class="services-list-item text-center">There is an additional cost for traveling more than twenty miles from Elgin, IL.</li>
	                    <li class="services-list-item text-center">A $20 nonrefundable deposit is required to reserve your date and time. The deposit is applied to the remaining balance of your session price.</li>
	                    <li class="services-list-item text-center">Payment in full is required on the day of your photo session.</li>
	                    <li class="services-list-item text-center">Ask me about milestone package details.</li>
	                    <li class="services-list-item text-center">Ask me about event and party packages.</li>
	                </ul><!-- /.services-list -->
	            </div><!-- /.modal-body -->
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<article>
		<header class="page-header blurry-lights">
			<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
				<h1 class="page-title"><%= @page_title %></h1>
			</div>
		</header>
		<section class="section" id="services">
	        <div class="container">
	            <!-- ROW 1 -->
	            <div class="row">
	                <!-- TRUE BLISS -->
	                <div class="col-md-6 service" id="true-bliss">
	                    <div class="row">
	                        <div class="col-sm-5">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">250</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-7">
	                            <h2 class="h3 services-package">True Bliss</h2>
	                            <p class="services-tagline">Perfect for family or senior sessions</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Full session up to one hour</li>
	                                <li class="services-list-item">Up to four people</li>
	                                <li class="services-list-item">$10 extra per each additional person</li>
	                                <li class="services-list-item">Up to fifteen edited images with full print rights</li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	                <!-- LITTLE MOMENTS -->
	                <div class="col-md-6 service" id="the-little-moments">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">100</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-8">
	                            <h2 class="h3 services-package">The Little Moments</h2>
	                            <p class="services-tagline">Beautiful, effortless photos</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Fifteen minute styled session</li>
	                                <li class="services-list-item">Two children included</li>
	                                <li class="services-list-item">$10 extra per each additional person</li>
	                                <li class="services-list-item">Up to five edited images with full print rights</li>
	                                <li class="services-list-item"><em>Offered on select dates with themes chosen by Stephanie</em></li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	            </div><!-- /.row -->
	            <!-- ROW 2 -->
	            <div class="row">
	                <!-- BEAUTIFUL NEWBORNS -->
	                <div class="col-md-6 service" id="beautiful-newborns">
	                    <div class="row">
	                        <div class="col-sm-5">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">350</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-7">
	                            <h2 class="h3 services-package">Blissful Newborns</h2>
	                            <p class="services-tagline">A time to cherish</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Full session up to three hours</li>
	                                <li class="services-list-item">Fifteen edited images</li>
	                                <li class="services-list-item"><em>Family pictures not included</em></li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	                <!-- BEAUTIFUL NEWBORNS PLUS FAMILY -->
	                <div class="col-md-6 service" id="beautiful-newborns-plus-family">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">450</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-8">
	                            <h2 class="h3 services-package">Beautiful Newborns Plus Family</h2>
	                            <p class="services-tagline">A time to cherish with the whole family</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Full session up to three hours</li>
	                                <li class="services-list-item">Twenty edited images</li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->  
	            </div><!-- /.row -->
	            <!-- ROW 3 -->
	            <div class="row">
	                <!-- BELLY BLISS MATERNITY -->
	                <div class="col-md-6 service" id="belly-bliss-maternity">
	                    <div class="row">
	                        <div class="col-sm-5">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">275</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-7">
	                            <h2 class="h3 services-package">Belly Bliss Maternity</h2>
	                            <p class="services-tagline">A moment to cherish with the whole family</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Fifteen photos</li>
	                                <li class="services-list-item">Includes use of any of our maternity dresses</li>
	                                <li class="services-list-item"><em>$250 if purchased with a Beautiful Newborns session</em></li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	                <!-- LABOR AND DELIVERY -->
	                <div class="col-md-6 service" id="labor-delivery">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">395</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-8">
	                            <h2 class="h3 services-package">Labor &amp; Delivery</h2>
	                            <p class="services-tagline">For your first moments together</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Twenty photos</li>
	                                <li class="services-list-item">An on-call photographer is made available if Stephanie is unavailable</li>
	                                <li class="services-list-item"><em>Package is based on availability</em></li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	            </div><!-- /.row -->
	            <!-- ROW 4 -->
	            <div class="row">
	                <!-- FRESH 48 and LIFESTYLE-->
	                <div class="col-md-6 service" id="fresh-48-lifestyle">
	                    <div class="row">
	                        <div class="col-sm-5">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">295</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-7">
	                            <h2 class="h3 services-package">Fresh 48 or Lifestyle</h2>
	                            <p class="services-tagline">Perfect for those first days or any special occasion</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Fifteen photos</li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	                <!-- MILESTONES -->
	                <div class="col-md-6 service" id="milestones">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">220</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-8">
	                            <h2 class="h3 services-package">3, 6 &amp 9 Month Milestones</h2>
	                            <p class="services-tagline">Follow your baby's journey</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Fifteen photos</li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	            </div><!-- /.row -->
	            <!-- ROW 5 -->
	            <div class="row">
	                <!-- BIRTHDAY CAKE SMASH -->
	                <div class="col-md-6 service" id="birthday-cake-smash">
	                    <div class="row">
	                        <div class="col-sm-5">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">275</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-7">
	                            <h2 class="h3 services-package">Birthday Cake Smash</h2>
	                            <p class="services-tagline">Capture their first birthday</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Styled session with a customizable theme or colors</li>
	                                <li class="services-list-item">Fifteen photos</li>
	                                <li class="services-list-item">Option to include "clean up" or "bathtub" photos at the end of your session</li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->
	                <!-- BLISSFUL BABY -->
	                <div class="col-md-6 service" id="blissful-baby">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="services-price"><sup class="services-price-dollar">$</sup><span class="services-price-amount">900</span></div>
	                        </div><!-- /.col-sm-5 -->
	                        <div class="col-sm-8">
	                            <h2 class="h3 services-package">Beautiful Newborns</h2>
	                            <p class="services-tagline">Remember each and every moment</p>
	                            <ul class="services-list">
	                                <li class="services-list-item">Choose from four of the following sessions: Maternity, Fresh 48, Lifestyle, Newborn, Milestones, or Birthday Cake Smash</li>
	                                <li class="services-list-item"><em>Payment plans are available</em></li>
	                            </ul><!-- /.services-list -->
	                        </div><!-- /.col-sm-7 -->
	                    </div><!-- /.row -->
	                </div><!-- /.col-md-6 /.service -->  
	            </div><!-- /.row -->
	            <!-- FINE PRINT -->
	            <div class="row">
	                <div class="col-md-3"></div><!-- /.col-md-3 -->
	                <div class="col-md-6 service text-center">
	                    <button type="button" class="button" id="fine-print-btn" data-toggle="modal" data-target="#fine-print-modal">The Fine Print</button>
	                </div><!-- /.col-md-6 /.service -->
	                <div class="col-md-3"></div><!-- /.col-md-3 -->
	            </div><!-- /.row -->
	        </div><!-- /.container-wide -->
		</section><!-- /.section -->
	</article>
</div>