<div class="page" id="<%= @page_title.downcase %>">
	<article>
		<header class="page-header blurry-lights">
			<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
				<h1 class="page-title"><%= @page_title %></h1>
			</div>
		</header>
		<section class="studio-info container text-center">
                  <div class="row">
              		<h2>Blissful Moments Studio</h2>
                  	<address><h3>2090 Larkin Ave<br>Elgin, IL 60123</h3></address>
                  </div>
                  <hr>
                  <div class="page-break">
                  	<p class="lead">It's time to tell <b>your</b> story! Schedule your shoot today!</p>
      				<%= link_to("Let's Go", contact_path, class: 'button') %>
                  </div>
                  <hr>
                  <div class="row">
                  	<div class="col-md-3">
                  		<span class="fa-stack fa-3x">
      						<i class="fa fa-circle-thin fa-stack-2x"></i>
      						<i class="fa fa-map fa-stack-1x"></i>
      					</span>
                  		<p>The Blissful Moments studio is conveniently located in Elgin, IL – one minute south of St. Joseph’s Hospital.</p>
                  	</div>
                  	<div class="col-md-3">
                  		<span class="fa-stack fa-3x">
      						<i class="fa fa-circle-thin fa-stack-2x"></i>
      						<i class="fa fa-magic fa-stack-1x"></i>
      					</span>
                  		<p>We offer a variety of props and accessories; however, clients are also encouraged to bring their own!</p>
                  	</div>
                  	<div class="col-md-3">
                  		<span class="fa-stack fa-3x">
      						<i class="fa fa-circle-thin fa-stack-2x"></i>
      						<i class="fa fa-child fa-stack-1x"></i>
      					</span>
                  		<p>It is the perfect setting for your <i>Beautiful Newborns</i> or <i>Little Moments</i> sessions.</p>
                  	</div>
                  	<div class="col-md-3">
                  		<span class="fa-stack fa-3x">
      						<i class="fa fa-circle-thin fa-stack-2x"></i>
      						<i class="fa fa-calendar fa-stack-1x"></i>
      					</span>
                  		<p> The Blissful Moments studio is currently open by appointments only.  Schedule your appointment today!</p>
                  	</div>
                  </div>
		</section>
		<section class="google-map">
			<iframe class="gmap" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKcoIwdMaD4gRF9ssoBUo--Y&key=AIzaSyASsW3q7LDIKHckM89J7CNj30oVeCWqNFU" allowfullscreen></iframe>
		</section>
	</article>
</div>