<div class="page" id="<%= @page_title.downcase %>">
	<article>
		<header class="page-header">
			<div class="semitransparent-mask flex-container flex-row flex-horizontal-center flex-vertical-center">
				<h1 class="page-title"><%= @page_title %></h1>
			</div>
		</header>
		<section class="google-map">
			<div class="semitransparent-mask">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<!--<p id="studio-tagline">It's time to tell <strong>your</strong> story. <span class="text-muted">Visit my studio!</span></p>-->
		                    <h2>Blissful Moments Studio</h2>
		                    <address><h3>2090 Larkin Ave, Elgin, IL 60123</h3></address>
		                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d740.8720497049575!2d-88.32901837077918!3d42.03271059482327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f1ad3dde15dd1%3A0xb6a78ab206d9b816!2s2090+Larkin+Ave%2C+Elgin%2C+IL+60123!5e0!3m2!1sen!2sus!4v1451329334127" frameborder="0" allowfullscreen></iframe>
		                	
						</div>
						<div class="col-md-6">
							<p>The Blissful Moments studio is conveniently located in Elgin , IL – one minute south of St. Joseph’s Hospital.</p>
		                	<p>We offer a variety of props and accessories, however, clients are also encouraged to bring their own!</p>
		                	<p>It is the perfect setting for your <i>Beautiful Newborns</i> or <i>Little Moments</i> sessions.</p>
		                	<p> The Blissful Moments studio is currently open by appointments only.  Schedule your appointment today!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>