<div id="info-column">
	<div class="row">
		<div class="col-md-4 info-icon">
			<i class="pull-right fa fa-map-marker fa-3x"></i>
		</div>
		<div class="col-md-8 info-content">
			<h3>Address</h3>
			<p>2090 Larkin Ave<br>Elgin, Illinois 60123</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 info-icon">
			<i class="pull-right fa fa-envelope fa-3x"></i>
		</div>
		<div class="col-md-8 info-content">
			<h3>Email</h3>
			<p>blissful&#8203;moments&#8203;bystephanie&#8203;@gmail.com</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 info-icon">
			<i class="pull-right fa fa-phone fa-3x"></i>
		</div>
		<div class="col-md-8 info-content">
			<h3>Phone</h3>
			<p>847.651.9623</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 info-icon">
			<i class="pull-right fa fa-clock-o fa-3x"></i>
		</div>
		<div class="col-md-8 info-content">
			<h3>Studio Hours</h3>
			<p class="last-element">Photo shoots are booked by appointment only</p>
		</div>
	</div>
</div>