// Bootstrap breakpoints
$smScreen: 768px;
$mdScreen: 992px;
$lgScreen: 1200px;

// Colors
$white: #FFFFFF;
$black: #000000;
$light-black: #222222;
$light-grey: #DBDBDB;
$dark-grey: #333333;
$pink: #EF597B;			// rgb: 239,89,123
$light-pink: #FF7897;
$lighter-pink: #F2A2B4;

// Navbar height
$navbarHeight: 100px;

html {
	background-color: $light-grey;
	body {
		.flex-container {
			display: flex !important;
		}
		.flex-row {
			flex-direction: row !important;
		}
		.flex-row-reverse {
			flex-direction: row-reverse !important;
		}
		.flex-column {
			flex-direction: column !important;
		}
		.flex-column-reverse {
			flex-direction: column-reverse !important;
		}
		.flex-horizontal-left {
			justify-content: flex-start !important;
		}
		.flex-horizontal-center {
			justify-content: space-around !important;
		}
		.flex-horizontal-right {
			justify-content: flex-end !important;
		}
		.flex-vertical-top {
			align-items: flex-start !important;
		}
		.flex-vertical-center {
			align-items: center !important;
		}
		.flex-vertical-bottom {
			align-items: flex-end !important;
		}
		.flex-fill-parent {
			flex: 1 !important;
		}
		textarea:focus,
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="datetime"]:focus,
		input[type="datetime-local"]:focus,
		input[type="date"]:focus,
		input[type="month"]:focus,
		input[type="time"]:focus,
		input[type="week"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="color"]:focus,
		.uneditable-input:focus {   
  			border-color: rgba(239, 89, 123, 0.8) !important;
	  		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 89, 123, 0.6) !important;
	  		outline: 0 none !important;
		}
		.semitransparent-mask {
			background-color: rgba(0, 0, 0, 0.3);
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		}
		.button {
			display: inline-block !important;
		    font-size: 1.4em;
		    margin: 0;
		    border: 1px solid $pink !important;
		    padding: 15px !important;
		    color: $white !important;
		    background-color: $pink !important;
		    &:hover,
		    &:focus,
		    &:active {
		    	color: $white !important;
		        background-color: $light-pink !important;
		        border-color: $light-pink !important;
		        outline: none !important;
		        text-decoration: none !important;
		    }
		}
		.button-secondary {
			color: $pink !important;
			background-color: transparent !important;
			&:hover,
		    &:focus,
		    &:active {
		        background-color: $lighter-pink !important;
		        border-color: $lighter-pink !important;
		    }
		}
		.button.button-sm {
		    height: 60px !important;
		    min-width: 100px !important;
		}
		.button.button-lg {
		    min-width: 150px !important;
		}
		.page {
			margin-top: $navbarHeight;
			margin-bottom: 50px;
			@media screen and (min-width: $mdScreen) {
				margin-bottom: 75px;
			}
			background-color: $white;
		}
		.page-header {
			height: 25vh;
		}
		.page-break {
			.lead {
				display: inline-block !important;
				margin-left: 20px !important;
				margin-right: 20px !important;
			}
			.button {
				display: inline-block !important;
				margin-left: 20px !important;
				margin-right: 20px !important;
			}
		}
		.blurry-lights {
			margin-top: 40px;
			margin-bottom: 75px;
			padding: 0;
			border-bottom: none;
			width: 100%;
			background-image: url("https://s3.amazonaws.com/blissfulmoments/asset/rose-blurry-lights-wide.jpg");
			background-size: cover;
	    	background-position: right bottom;
	    	background-repeat: no-repeat;
		}
	}
}
