body {
	.flex-container {
		display: flex !important;
	}
	.flex-row {
		flex-direction: row !important;
	}
	.flex-column {
		flex-direction: column !important;
	}
	.flex-horizontal-center {
		justify-content: space-around !important;
	}
	.flex-vertical-center {
		align-items: center !important;
	}
	.flex-fill-parent {
		flex: 1 !important;
	}
}