#about {
	margin-bottom: 30px;
	.stephanie-info {
		.row {
			margin-bottom: 50px;
			.img-responsive {
				margin-top: 30px;
				@media screen and (min-width: $mdScreen) {
					margin-top: 0;
				}
			}
		}
	}
}