#home {
	.carousel {
	  background: #EEE;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  height: 100vh;
	}

	.carousel-cell {
	  display: block;
	  min-height: 100vh;
	  width: 100%;
	  vertical-align: middle;
	}

	.flickity-page-dots {
	  bottom: 10px;
	}
}