#home {
	.carousel {
	  background: #EEE;
	  margin: 102px 0 0 0;
	  padding: 0;
	  overflow: hidden;
	  opacity: 0	// carousel invisible until flickity loads, JS updates visibility
	}

	.carousel-cell {
	  display: block;
	  height: auto;
	  width: 100%;
	  vertical-align: middle;
	}

	.flickity-page-dots {
	  bottom: 10px;
	}
}