#studio {
	margin-bottom: 0;
	.studio-info {
		.row {
			margin-bottom: 30px;
			h2 {
				margin-top: 0;
			}
			address {
				margin-bottom: 0;
				.h3 {
					margin-bottom: 0;
				}
			}
			.col-md-3 {
				margin-top: 30px;
				.fa-stack {
					margin-bottom: 20px;
				}
			}
		}
	}
	#google-map {
		margin-top: 50px;
		height: 50vh;
		.gmap {
			width: 100%;
			height: inherit;
		}
	}
}