<footer id="footer">
	<div class="container">
		<p class="h5"><small>&copy; <%= DateTime.now.year %> Blissful Moments Photography. All Rights Reserved.</small></p>
		<p class="h5"><small>Website created by <a href="http://camronkhan.com">Camron Khan</a></small></p>
	</div>
</footer>